@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  background-color: #545454;
  color: white;
}

.navigacija {
  background: #454545;
  border-bottom: solid 1px black;
}

.app-site-body {
  padding: 10px;
}


.hide {
  display: none;
}

mat-footer-row mat-footer-cell {
  justify-content: center;
  font-style: italic;
}

.tablica {
  width: 100%;
}

.top5 {
  margin-top: 5px;
}

.top10 {
  margin-top: 10px;
}

.top20 {
  margin-top: 20px;
}

.top30 {
  margin-top: 30px;
}

.top40 {
  margin-top: 40px;
}

.top50 {
  margin-top: 50px;
}
