<div role="document" class="modal-border-shadow">
  <div class="modal-content dark-modal">
    <div class="modal-header dark-modal">
      <h5
        class="modal-title">{{model.id == 0 ? 'Dodavanje novog uređaja' : 'Uređivanje uređaja: ' + model.deviceName}}</h5>
    </div>
    <form #f="ngForm">
      <div class="modal-body dark-modal">
        <div class="row">
          <div class="col-4"><label for="name">Naziv uređaja </label></div>
          <div class="col-6">
            <input type="text" class="input-group input-group-text" id="name" maxlength="255" name="name"
                   [(ngModel)]="model.deviceName" required/>
          </div>
        </div>
        <div class="row top30"></div>
        <div class="row">
          <div class="col-4">
            <label>Beacon na uređaju: </label>
          </div>
          <div class="col-6">
            <angular2-multiselect [data]="slobodniBeaconi" [(ngModel)]="dropdownModel.idBeacon" name="sensors"
                                  [settings]="dropdownSettings">
            </angular2-multiselect>
          </div>
        </div>
      </div>
    </form>
    <div class="modal-footer dark-modal">
      <button type="button" class="btn btn-primary" (click)="saveUredaj()">Pohrani</button>
      <button type="button" class="btn btn-danger" (click)="activeModal.close(0)">Odustani</button>
    </div>
  </div>
</div>
