<div class="container app-site-body">
  <div class="row top30"></div>
  <div class="row">
    <div class="container-fluid col-md-11">
      <i class="fas fa-plus pad10 pull-right gumb-akcija" *ngIf="authenticationService.hasRole(['ROLE_ADMIN'])"
         (click)="addSenzor()"></i>
    </div>
  </div>
  <div class="row top10"></div>
  <div class="row">
    <div class="col-12">
      <table mat-table [dataSource]="dataSource" class="tablica">
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Naziv</th>
          <td mat-cell *matCellDef="let senzor"> {{senzor.name}} </td>
        </ng-container>
        <ng-container matColumnDef="beaconDataPurgeInterval">
          <th mat-header-cell *matHeaderCellDef> Interval brisanja podataka (sekunde)</th>
          <td mat-cell *matCellDef="let senzor"> {{secondsToTime(senzor.beaconDataPurgeInterval) | amDateFormat:'HH:mm:ss'}} </td>
        </ng-container>
        <ng-container matColumnDef="beaconDataSendInterval">
          <th mat-header-cell *matHeaderCellDef> Interval slanja podataka (sekunde)</th>
          <td mat-cell *matCellDef="let senzor"> {{secondsToTime(senzor.beaconDataSendInterval) | amDateFormat:'HH:mm:ss'}} </td>
        </ng-container>
        <ng-container matColumnDef="roomName">
          <th mat-header-cell *matHeaderCellDef> Prostorija</th>
          <td mat-cell *matCellDef="let senzor"> {{senzor.roomName }} </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Akcije</th>
          <td mat-cell *matCellDef="let senzor">
            <i class="fas fa-pencil-alt pad10" (click)="urediSenzor(senzor.id)"></i>
            <i class="far fa-trash-alt" (click)="obrisiSenzor(senzor.id)"></i>
          </td>
        </ng-container>
        <ng-container matColumnDef="noData">
          <mat-footer-cell class="footer" *matFooterCellDef>
            Nema podataka
          </mat-footer-cell>
        </ng-container>
        <mat-footer-row *matFooterRowDef="['noData']"
                        [ngClass]="{'hide' : dataSource.data.length != 0}"></mat-footer-row>
      </table>
      <mat-paginator class="tablica" [pageSize]="5" [pageSizeOptions]="[5, 10, 15, 20]">
      </mat-paginator>
    </div>
  </div>
</div>
