<div class="container">

  <form #f="ngForm">
    <div class="row col-md-12 container justify-content-sm-center" style="border: solid 1px black">
      <div class="row login-body">
        <div class="row col-12">
          <div class="row col-6">
            <label for="username">Korisničko ime: </label>
          </div>
          <div class="row col-6">
            <input class="col-12" type="text" id="username" name="username" [(ngModel)]="usrname" placeholder="Korisničko ime"
                   required>
          </div>
        </div>
        <div class="row col-12 top10">
          <div class="row col-6">
            <label for="password">Lozinka: </label>
          </div>
          <div class="row col-6">
            <input class="col-12" type="password" id="password" name="password" [(ngModel)]="password" placeholder="Lozinka" required>
          </div>

          <button (click)="prijava()" [disabled]="submitDisabled()">Prijava</button>
          <div *ngIf="error" class="alert alert-danger">{{error}}</div>
        </div>
      </div>
    </div>
  </form>

</div>
