<div class="container app-site-body">
  <div class="row">
      <div class="col-2"><label>Raspoložive prostorije: </label></div>
      <div class="col-4">
        <angular2-multiselect [data]="prostorije" [(ngModel)]="dropdownModel.idProstorije"
                              [settings]="dropdownSettings"
                              (onSelect)="onItemSelect($event)">
        </angular2-multiselect>
      </div>
      <div class="col-2">
        <i class="fas fa-pencil-alt pad10" (click)="editProstorija()"></i>
        <i class="fas fa-plus pad10" (click)="addProstorija()"></i>
        <i class="far fa-trash-alt" (click)="deleteProstorija()"></i>
      </div>
  </div>
  <div class="row top30"></div>
  <div class="row">
    <div class="col-12">
      <table mat-table [dataSource]="dataSource" class="tablica">
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Naziv</th>
          <td mat-cell *matCellDef="let senzor"> {{senzor.name}} </td>
        </ng-container>
        <ng-container matColumnDef="beaconDataPurgeInterval">
          <th mat-header-cell *matHeaderCellDef> Interval brisanja podataka</th>
          <td mat-cell *matCellDef="let senzor"> {{senzor.beaconDataPurgeInterval }} </td>
        </ng-container>
        <ng-container matColumnDef="beaconDataSendInterval">
          <th mat-header-cell *matHeaderCellDef> Interval slanja podataka</th>
          <td mat-cell *matCellDef="let senzor"> {{senzor.beaconDataSendInterval }} </td>
        </ng-container>
        <ng-container matColumnDef="loading">
          <mat-footer-cell *matFooterCellDef>
            Učitavanje podataka
          </mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="noData">
          <mat-footer-cell *matFooterCellDef>
            Nema podataka
          </mat-footer-cell>
        </ng-container>
        <mat-footer-row *matFooterRowDef="['loading']"
                        [ngClass]="{'hide' : !prikaziUcitavanjeSenzora}"></mat-footer-row>
        <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide' : dataSource.data.length != 0}"></mat-footer-row>
      </table>
      <mat-paginator [pageSize]="2" [pageSizeOptions]="[2, 3, 4, 5, 10]">
      </mat-paginator>
    </div>
  </div>
</div>
